%h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource

  .field
    = f.label :email, class: 'label'
    .control
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input'

  .field
    = f.label :password, class: 'label'
    .control
      - if @minimum_password_length
        %em
          = @minimum_password_length
          characters minimum
      = f.password_field :password, autocomplete: "new-password", class: 'input'

  .field
    = f.label :password_confirmation, class: 'label'
    .control
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'input'

  .field
    = f.submit 'Sign up', class: 'button'

= render "devise/shared/links"
