%h2.subtitle.is-2 Resend unlock instructions

= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource

  .field
    = f.label :email, class: 'label'
    .control
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'
  .field
    .actions
      = f.submit "Resend unlock instructions"

  = render "devise/shared/links"
  
