%h2.subtitle.is-2 Change your password

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token

  .field
    = f.label :password, "New password", class: 'label'
    - if @minimum_password_length
      %em (
        = @minimum_password_length
        characters minimum
    .control
      = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input'

  .field
    = f.label :password_confirmation, "Confirm new password", class: 'label'
    .control
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'input'
  .field
    .actions
      = f.submit "Change my password", class: 'button'

  = render "devise/shared/links"
