%h2.subtitle.is-2 Forgot your password?

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource

  .field
    = f.label :email, class: 'label'
    .control
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input'
  .field
    .actions
      = f.submit "Send me reset password instructions", class: 'button'

  = render "devise/shared/links"
