!!! 5
%html
  %head
    %title Base Config
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', { :media => 'all', :data => {:turbolinks => {:track => 'reload'}} }
    = javascript_pack_tag 'application', { :data => {:turbolinks => {:track => 'reload'}}}

  %body
    - if flash[:notice]
      .notification.is-success.global-notification
        .notice= notice
    - if flash[:alert]
      .notification.is-danger.global-notification
        .alert= alert
        
    = yield
